@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <h1>Contact Us</h1>
    <ul>
        @* idk who owns these credentials but thanks supermaven autofill *@
        <li>Email: mareks.hav@gmail.com</li>
        <li>Phone: +420 777 777 777</li>
        <li>Website: www.marekshav.cz</li>
        <li>Adress: Havíčkova 1, Praha 1</li>
        <li>Discord: nots1ick</li>
        <li>GitHub: https://github.com/NotS1ick</li>
    </ul>
</div>